:root
{
    --bg-color: #333333;
    --text-color: #ffffff;
    --text-color-alt: #111111;
    --primary-color: #ffd700;
    --primary-color-alt: #ceaf00;
    --second-color: #ffffff;

    --three-color: #ff0000;
    --three-color-alt: #ca0000;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, sans-serif;
}

.contenedor
{
    width: 100%;
    min-height: 100vh;
}

.section,
.blog
{
    width: inherit;
    min-height: inherit;
    background-color: var(--bg-color);
    padding-top: 80px;
}

.blog
{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.blog__titulo,
.blog__subtitulo
{
    text-align: center;
    font-size: 2em;
    color: var(--primary-color);
    font-weight: 800;
}

.blog__subtitulo
{
    font-weight: 300;
    letter-spacing: 20px;
    padding-bottom: 80px;
}

.blog__caja
{
    padding: 40px 80px;
}

.blog__parrafo
{
    color: var(--text-color);
    text-align: justify;
    margin-bottom: 40px;
    font-size: 2em;
}

.tarjeta
{
    background-color: var(--second-color);
    padding: 20px;
    border-radius: 20px;
}

.tarjeta__titulo
{
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    font-size: 3em;
    margin-bottom: 20px;
}

.tarjeta__subtitulo
{
    color: var(--text-color-alt);
    font-size: 2em;
    display: inline-block;
    position: relative;
    margin-bottom: 40px;
}

.tarjeta__subtitulo::before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70%;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.tarjeta__parrafo
{
    text-align: justify;
    font-size: 1.5em;
    padding-bottom: 40px;
}

.tarjeta__botones
{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.tarjeta__boton
{
    padding: 20px 30px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.5em;
    border-style: none;
    border-radius: 20px;
    margin-right: 40px;
    cursor: pointer;
}

.tarjeta__boton--red
{
    background-color: var(--three-color);
}

.tarjeta__boton:hover
{
    background-color: var(--primary-color-alt);
}

.tarjeta__boton--red:hover
{
    background-color: var(--three-color-alt);
}


