:root
{
    --bg-color: #333333;
    --text-color: #ffffff;
    --text-color-alt: #111111;
    --primary-color: #ffd700;
    --primary-color-alt: #ceaf00;
    --second-color: #ffffff;

    --three-color: #ff0000;
    --three-color-alt: #ca0000;

    --header-shadow:    0 0 10px var(--primary-color),
                        0 0 20px var(--primary-color);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, sans-serif;
}

.contenedor
{
    width: 100%;
    min-height: 100vh;
}

.section,
.blog
{
    width: inherit;
    min-height: inherit;
    background-color: var(--bg-color);
    padding-top: 80px;
}

.blog
{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.blog__cabecera
{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 40px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 999;
}

.blog__logo
{
    color: var(--primary-color);
    font-weight: 900;
    letter-spacing: 2px;
}

.blog__navegacion
{
    margin-left: auto;
}

.blog__lista
{
    display: flex;
}

.blog__item
{
    list-style: none;
    margin-left: 40px;
}

.blog__enlace
{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.3em;
    font-weight: 800;
}

.blog__enlace:hover
{
    color: var(--primary-color-alt);
    text-shadow: var(--header-shadow);
}

.blog__titulo,
.blog__subtitulo
{
    text-align: center;
    font-size: 2em;
    color: var(--primary-color);
    font-weight: 800;
}

.blog__subtitulo
{
    font-weight: 300;
    letter-spacing: 20px;
    padding-bottom: 10px;
    position: relative;
    text-shadow:  var(--header-shadow);
}

.blog__subtitulo::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: var(--header-shadow);
}

.blog__caja
{
    padding: 40px 80px;
}

.blog__parrafo
{
    color: var(--text-color);
    text-align: justify;
    margin-bottom: 40px;
    font-size: 2em;
}

.blog__image
{
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.image
{
    width: 100%;
    height: 100%;
}

.tarjeta
{
    background-color: var(--second-color);
    padding: 20px;
    border-radius: 20px;
}

.tarjeta__titulo
{
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    font-size: 3em;
    margin-bottom: 20px;
}

.tarjeta__subtitulo
{
    color: var(--text-color-alt);
    font-size: 2em;
    display: inline-block;
    position: relative;
    margin-bottom: 40px;
}

.tarjeta__subtitulo::before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70%;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.tarjeta__parrafo
{
    text-align: justify;
    font-size: 1.5em;
    padding-bottom: 40px;
}

.tarjeta__botones
{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.tarjeta__boton
{
    padding: 20px 30px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.5em;
    border-style: none;
    border-radius: 20px;
    margin-right: 40px;
    cursor: pointer;
}

.tarjeta__boton--red
{
    background-color: var(--three-color);
}

.tarjeta__boton:hover
{
    background-color: var(--primary-color-alt);
}

.tarjeta__boton--red:hover
{
    background-color: var(--three-color-alt);
}

.blog__pie
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-alt);
    color: var(--text-color-alt);
    font-size: 1.2em;
    font-weight: 500;
}


